NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

MONGODB_URI=your_mongodb_connection_string

# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROJECT_ID="your_appwrite_project_id"
NEXT_PUBLIC_APPWRITE_BUCKET_ID="your_appwrite_bucket_id"
NEXT_PUBLIC_APPWRITE_DATABASE_ID="your_appwrite_database_id"
NEXT_PUBLIC_APPWRITE_COLLECTION_ID="your_appwrite_collection_id"
NEXT_PUBLIC_APPWRITE_KEY="your_appwrite_api_key"
NEXT_PUBLIC_APPWRITE_CAR_CONFIGS_COLLECTION_ID="your_appwrite_car_configs_collection_id"
